
.tinygrid {-moz-user-select:none;-webkit-user-select:none;}
.tinygrid {position:absolute;top:0;right:0;left:0;bottom:0;border:1px solid #dddddd;overflow:hidden;background-color:#eaeaea;}
.tinygrid > div {position:absolute;right:0;left:0;line-height:39px;}
.tinygrid > div.tg_header {top:0;height:39px;border-bottom:1px solid #dddddd;font-weight:bold}
.tinygrid > div.tg_footer {bottom:0;height:39px;border-top:1px solid #dddddd;text-align:center;}
.tinygrid > div.tg_body {top:40px;bottom:40px;overflow-x:auto;overflow-y:scroll;background-color:#ffffff;}
.tinygrid > div.tg_body > div.tg_table {position:relative;overflow:hidden}
.tinygrid > div.tg_body > div.tg_meter {height:0px;}

.tinygrid .tg_row {
position:absolute;left:0;top:-100px;border-bottom:1px solid #dddddd;
height:39px;line-height:39px;z-index:0;width:100%;overflow:hidden;
}

.tinygrid .tg_row:nth-child(even) {background-color:#f6f6f6}
.tinygrid .tg_row:hover {background-color:#fff7e8}
.tinygrid .tg_row_select {background-color:#dbeeff !important;}

.tinygrid .tg_col {
float:left;border-right:1px solid #dddddd;height:100%;width:30px;
text-align:center;cursor:default;overflow:hidden;white-space:nowrap;
}

.tinygrid .tg_col_sort_asc {background-color:#CCCCCC;}
.tinygrid .tg_col_sort_desc {background-color:#bfdcff;}

.tinygrid .tg_body input, .tinygrid .tg_body select {
position:absolute;left:0;top:-100px;width:100px;height:20px;padding:0;margin:0;border:0px;text-align:center;
outline:none;background-color:#e2fcdb;z-index:1;
}

.tinygrid .tg_ctrl_val_changed {background-color:#fce6db;}

.tinygrid .tg_col_c_image {border:none}

